<div class="row">
  <div class="col-md-12">
    <h3>Pagos con Visa</h3>
  </div>
  <form [formGroup]="creditCardForm">
    <div class="col-md-6">
      <div class="form-group">
        <label for="cardNumber">Número de tarjeta</label>
        <input
          type="text"
          formControlName="cardNumber"
          ccNumber
          name="cardNumber"
          placeholder="Número de Tarjeta"
          class="form-control"
          [ngClass]="{ 'is-invalid': creditCardForm.get('cardNumber')?.invalid && creditCardForm.get('cardNumber')?.touched }"
        />
        <div
          *ngIf="
            creditCardForm.get('cardNumber')?.hasError('ccNumber') &&
            creditCardForm.get('cardNumber')?.touched
          "
          class="invalid-feedback"
        >
          Número de tarjeta inválido.
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <div class="form-group">
          <label for="expiryDate">Fecha de Expiración</label>
          <input
            type="text"
            formControlName="expiryDate"
            ccExp
            placeholder="MM/AA"
            class="form-control"
            [ngClass]="{ 'is-invalid': creditCardForm.get('expiryDate')?.invalid && creditCardForm.get('expiryDate')?.touched }"
          />
          <div
            *ngIf="
              creditCardForm.get('expiryDate')?.hasError('ccExp') &&
              creditCardForm.get('expiryDate')?.touched
            "
            class="invalid-feedback"
          >
            Fecha de expiración inválida.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="cvc">CVC</label>
          <input
            type="text"
            formControlName="cvc"
            ccCvc
            placeholder="CVC"
            class="form-control"
            [ngClass]="{ 'is-invalid': creditCardForm.get('cvc')?.invalid && creditCardForm.get('cvc')?.touched }"
          />
          <div
            *ngIf="
              creditCardForm.get('cvc')?.hasError('ccCvc') &&
              creditCardForm.get('cvc')?.touched
            "
          >
            CVC inválido.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <button
        class="btn btn-success"
        type="button"
        (click)="pagar()"
        [disabled]="creditCardForm.invalid"
      >
        Realizar pago
      </button>
    </div>
  </form>
</div>
